.receta__boton{
    background-color: #DA2B1F;
    color: #Fdfdfd;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    transition: all .1s ease-in-out;
}

.receta__boton:hover{
    cursor: pointer;
    background-color: #9f1010;
}