.receta{
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

@media screen and (min-width: 0) {
    .receta{
        width: calc(100% - 5rem);
    }
}

@media screen and (min-width: 768px) {
    .receta{
        margin-right: 2.5rem;
        width: calc(33.3% - 2.5rem);
    }
}

@media screen and (min-width: 992px) {
    .receta{
        margin-right: 5rem;
        width: calc(25% - 5rem);
    }
}